<!DOCTYPE html>
<html lang="pt">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Askme</title>
    <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/20459807/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>